#custom settings for git
alias show="xdg-open $@"
alias gits="git status"
alias gitd="git diff $@"
alias gitc="git commit $@"
alias gitp="git push $@"
alias gitb="git branch $@"
alias grso="git remote show origin $@"
alias gitrmfilter="git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch $1' --prune-empty --tag-name-filter cat -- --all"

#non git shortcuts
alias ..="cd .."
alias ....="cd ../../"
alias ......="cd ../../../"
alias vi="vim $@"
alias ack="ack-grep $@"
alias rmtorrent="rm ~/Downloads/*.torrent"
alias me="cd $HOME"
alias cls="clear"
alias tunes="ncmpcpp"
alias is_on="ps aux | grep $@"

