#custom settings for git
alias show="xdg-open $@"
alias gits="git status"
alias gitd="git diff $@"
alias gitc="git commit $@"
alias gitp="git push $@"
alias gitb="git branch $@"
alias grso="git remote show origin $@"
alias gitrmfilter="git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch $1' --prune-empty --tag-name-filter cat -- --all"
alias gitr="git fetch && git pull"
alias gitrdone="git fetch && git pull"
alias gitcheckoutnew="git checkout -B $@"
alias gitcheckout"git checkout $@"
alias gbl="git branch --sort=-committerdate"

#non git shortcuts
alias ..="cd .."
alias ....="cd ../../"
alias ......="cd ../../../"
alias ovi="vim $@"
alias rmtorrent="rm ~/Downloads/*.torrent"
alias me="cd $HOME"
alias cls="clear"
alias tunes="ncmpcpp"
alias is_on="ps aux | grep $@"
alias be="bundle exec $@"
alias nvi="nvim"
alias vi="nvim"
alias lr="ls -R $@"
alias aquisition="cd ~/code/ruby/acquisition"
alias playwrightdir="cd ~/code/ruby/acquisition/tests/ui/playwright"
alias canarycontainer="plt ecs-exec -e fedtest1 -a acquisition-canary -- /bin/sh"
alias vimrc="~/.config/nvim/vimrc.vim"
alias nvimconfig="cd ~/.config/nvim && nvi ~/.config/nvim/"
alias lg="lazygit"
alias testuibasedir="cd ~/code/nodejs/test-ui-api-base/"
alias gitpushthis="git push origin $(git branch --show-current)"
