[user]
	email = mikeylopez@gmail.com
  name = Luis
[alias]
  st = status
  co = checkout
  br = branch
  up = rebase
  ci = commit
[core]
	editor = vim
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
